.product {
    display: flex;
    align-items: center;
    background-color: #ff679a;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    justify-content: space-between;
    gap: 5px;
}

.product input,
.product select {
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;
}

.product p {
    width: 100px;
    text-align: center;
}