.adminpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.paletas-container {
    border-radius: 15px;
    background-color: #ab4696;
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 5px;
    gap: 5px;
}

.paletas-container__title {
    display: flex;
    padding: 15px;
    gap: 5px;
    align-items: center;
}

.paletas-container__title p {
    width: 100px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0px 15px;
    text-align: center;
    color: white;
    background-color: #ff679a;
    text-shadow: 1px 1px #000;
}

.reorder {
    cursor: pointer;
}

.add-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #ff679a;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: fit-content;
    justify-content: space-between;
}

.paletas-container__input {
    border-radius: 10px;
    width: 180px;
    padding: 5px 15px;
    border: 1px solid #000;
}

.paletas-container__add-button {
    padding: 5px;
    border-radius: 10px;
}

.remove-icon {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #000;
    padding: 2px;
    cursor: pointer;
}