.adminpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 10px;
}

.paletas-container {
    border-radius: 15px;
    background-color: #ab4696;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    gap: 5px;
}

.add-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #ff679a;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: fit-content;
    justify-content: space-between;
}

.paletas-container__input {
    border-radius: 10px;
    width: 180px;
    padding: 5px 15px;
    border: 1px solid #000;
}

.paletas-container__add-button {
    padding: 5px;
    border-radius: 10px;
}